<aside class="app-sidebar">
  <div class="sidebar-header">
    <div class="brand">
      <div class="brand-icon">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
        </svg>
      </div>
      <span *ngIf="!(isSidebarCollapsed$ | async)">Network Movers</span>
    </div>
    <button class="menu-toggle" (click)="layoutService.toggleSidebar()">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7" />
      </svg>
    </button>
  </div>

  <div class="sidebar-scrollable">
    <nav *ngIf="menuItems$ | async as menuItems">
      <ng-container *ngFor="let item of menuItems">
        <div *ngIf="item.isLabel && !(isSidebarCollapsed$ | async)" class="menu-label">{{ item.name }}</div>

        <a *ngIf="!item.isLabel" 
           [routerLink]="item.route ? item.route : null" 
           [routerLinkActive]="item.route ? 'active' : ''" 
           (click)="toggleSubmenu(item, $event)"
           class="menu-item" 
           [class.has-children]="item.children"
           [class.expanded]="item.expanded"
           [title]="item.name">
           
          <div class="menu-item-icon" *ngIf="item.icon">
            <ng-container *ngIf="isSvgIcon(item.icon); else iconLabel">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="item.icon" />
              </svg>
            </ng-container>
            <ng-template #iconLabel>
              <span class="menu-item-icon-text">{{ getIconText(item.icon) }}</span>
            </ng-template>
          </div>
          
          <ng-container *ngIf="!(isSidebarCollapsed$ | async)">
            <span class="menu-item-text">{{ item.name }}</span>
            
            <span *ngIf="item.badge" class="menu-item-badge" [ngClass]="item.badge.colorClass">
              {{ item.badge.text }}
            </span>
            
            <svg class="menu-item-arrow" *ngIf="item.children" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          </ng-container>
        </a>

        <div class="submenu" *ngIf="item.children && item.expanded && !(isSidebarCollapsed$ | async)">
          <a *ngFor="let child of item.children" 
             [routerLink]="child.route" 
             routerLinkActive="active" 
             class="submenu-item">
            <span class="submenu-dot"></span>
            <span class="submenu-text">{{ child.name }}</span>
          </a>
        </div>
      </ng-container>
    </nav>
  </div>
</aside>
